{
  "openapi": "3.1.0",
  "info": {
    "title": "Income For Everyone Labor Stats API",
    "version": "2026-07-21",
    "description": "Labor-market snapshot and planned paid history API for agents tracking automation, employment, wages, and labor slack.",
    "contact": {
      "url": "https://incomeforeveryone.org/about/"
    },
    "x-guidance": "Use GET /api/labor-stats/ for the latest free public snapshot. Use GET /api/labor-stats/history only after x402 launch when you need historical snapshots, revisions, deltas, and agent-oriented comparison metadata."
  },
  "servers": [
    {
      "url": "https://incomeforeveryone.org"
    }
  ],
  "paths": {
    "/api/labor-stats/": {
      "get": {
        "operationId": "getLaborStatsSnapshot",
        "summary": "Latest public labor-market snapshot",
        "tags": [
          "Labor Stats"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Latest public labor stats snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaborStatsSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/api/labor-stats/history": {
      "get": {
        "operationId": "getLaborStatsHistory",
        "summary": "Paid historical labor-market snapshots",
        "tags": [
          "Labor Stats"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.010000"
          },
          "protocols": [
            {
              "x402": {}
            }
          ]
        },
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Optional inclusive start date for historical snapshots."
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Optional inclusive end date for historical snapshots."
          }
        ],
        "responses": {
          "200": {
            "description": "Historical premium labor stats payload after successful x402 payment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaborStatsHistory"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          },
          "503": {
            "description": "Premium route is not configured yet."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LaborStatsSnapshot": {
        "type": "object",
        "required": [
          "schema_version",
          "endpoint",
          "snapshot_as_of",
          "access",
          "contract",
          "data"
        ],
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "endpoint": {
            "type": "string",
            "const": "/api/labor-stats/"
          },
          "snapshot_as_of": {
            "type": "string",
            "format": "date"
          },
          "access": {
            "$ref": "#/components/schemas/LaborStatsAccess"
          },
          "contract": {
            "$ref": "#/components/schemas/LaborStatsContract"
          },
          "data": {
            "$ref": "#/components/schemas/LaborStatsSnapshotData"
          }
        }
      },
      "LaborStatsHistory": {
        "type": "object",
        "required": [
          "schema_version",
          "endpoint",
          "snapshot_as_of",
          "history_window",
          "indicators",
          "sources",
          "access"
        ],
        "properties": {
          "schema_version": {
            "type": "string"
          },
          "endpoint": {
            "type": "string",
            "const": "/api/labor-stats/history"
          },
          "snapshot_as_of": {
            "type": "string",
            "format": "date"
          },
          "history_window": {
            "$ref": "#/components/schemas/HistoryWindow"
          },
          "indicators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryIndicator"
            }
          },
          "revisions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "deltas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LaborStatsDelta"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LaborStatsSource"
            }
          },
          "access": {
            "$ref": "#/components/schemas/HistoryAccess"
          }
        }
      },
      "LaborStatsSnapshotData": {
        "type": "object",
        "required": [
          "as_of",
          "coverage",
          "release_context",
          "indicators",
          "sources"
        ],
        "properties": {
          "as_of": {
            "type": "string",
            "format": "date"
          },
          "coverage": {
            "type": "string"
          },
          "release_context": {
            "$ref": "#/components/schemas/ReleaseContext"
          },
          "indicators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SnapshotIndicator"
            }
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LaborStatsSource"
            }
          },
          "future_api": {
            "type": "object"
          }
        }
      },
      "SnapshotIndicator": {
        "type": "object",
        "required": [
          "id",
          "label",
          "value",
          "unit",
          "period",
          "frequency",
          "seasonality",
          "series_id",
          "source_name",
          "source_url",
          "release_url",
          "updated",
          "status",
          "interpretation"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "period": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "seasonality": {
            "type": "string"
          },
          "series_id": {
            "type": "string"
          },
          "source_name": {
            "type": "string"
          },
          "source_url": {
            "type": "string",
            "format": "uri"
          },
          "release_url": {
            "type": "string",
            "format": "uri"
          },
          "updated": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "$ref": "#/components/schemas/DirectionStatus"
          },
          "interpretation": {
            "type": "string"
          }
        }
      },
      "HistoryIndicator": {
        "type": "object",
        "required": [
          "id",
          "label",
          "unit",
          "frequency",
          "seasonality",
          "series_id",
          "source_name",
          "source_url",
          "release_url",
          "observations"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "frequency": {
            "type": "string"
          },
          "seasonality": {
            "type": "string"
          },
          "series_id": {
            "type": "string"
          },
          "source_name": {
            "type": "string"
          },
          "source_url": {
            "type": "string",
            "format": "uri"
          },
          "release_url": {
            "type": "string",
            "format": "uri"
          },
          "observations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryObservation"
            }
          }
        }
      },
      "HistoryObservation": {
        "type": "object",
        "required": [
          "date",
          "period",
          "value",
          "raw_value"
        ],
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "period": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "raw_value": {
            "type": "string"
          },
          "month_over_month_change": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DirectionStatus"
          }
        }
      },
      "LaborStatsDelta": {
        "type": "object",
        "required": [
          "id",
          "label",
          "current_period",
          "previous_period",
          "change",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "current_period": {
            "type": "string"
          },
          "previous_period": {
            "type": "string"
          },
          "change": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/DirectionStatus"
          }
        }
      },
      "HistoryWindow": {
        "type": "object",
        "required": [
          "frequency",
          "observation_count_per_indicator",
          "start_date",
          "end_date"
        ],
        "properties": {
          "frequency": {
            "type": "string"
          },
          "observation_count_per_indicator": {
            "type": "integer",
            "minimum": 1
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "LaborStatsSource": {
        "type": "object",
        "required": [
          "name",
          "url",
          "last_checked"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "last_checked": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ReleaseContext": {
        "type": "object",
        "required": [
          "label",
          "note"
        ],
        "properties": {
          "label": {
            "type": "string"
          },
          "next_employment_release": {
            "type": "string",
            "format": "date"
          },
          "next_jolts_release": {
            "type": "string",
            "format": "date"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "LaborStatsAccess": {
        "type": "object",
        "required": [
          "tier",
          "payment_required",
          "payment_protocol",
          "premium_candidate_endpoint",
          "premium_gating_status"
        ],
        "properties": {
          "tier": {
            "type": "string"
          },
          "payment_required": {
            "type": "boolean"
          },
          "payment_protocol": {
            "type": "string"
          },
          "marketplace_candidate": {
            "type": "string"
          },
          "premium_candidate_endpoint": {
            "type": "string"
          },
          "premium_candidate_price": {
            "type": "string"
          },
          "premium_gating_status": {
            "type": "string"
          }
        }
      },
      "HistoryAccess": {
        "type": "object",
        "required": [
          "tier",
          "payment_required",
          "payment_protocol",
          "public_fallback"
        ],
        "properties": {
          "tier": {
            "type": "string",
            "const": "premium"
          },
          "payment_required": {
            "type": "boolean",
            "const": true
          },
          "payment_protocol": {
            "type": "string",
            "const": "x402"
          },
          "public_fallback": {
            "type": "string"
          },
          "payment_verified": {
            "type": "boolean"
          },
          "dev_bypass": {
            "type": "boolean"
          },
          "warning": {
            "type": "string"
          }
        }
      },
      "LaborStatsContract": {
        "type": "object",
        "properties": {
          "contract_note": {
            "type": "string"
          },
          "stable_indicator_fields": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DirectionStatus": {
        "type": "string",
        "enum": [
          "up",
          "down",
          "steady"
        ]
      }
    }
  }
}
